In [11]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
train = pd.read_csv("housing_train.csv")
test = pd.read_csv("housing_test.csv")

In [13]:
train.head()

,TID,Date,Property Type,OldvNew,Duration,AddressLine1,AddressLine2,Street,Locality,Town,Taluka,District,Postcode,Price,Price Category
0,1000,2018-01-01,F,N,L,9,NaN,XOUGBXCBUKB NBZX,NaN,ERLSYEL,ERLSYEL,ERLSYELXORKB,EL4 2BO,80.0,B
1,1001,2018-01-01,T,Y,F,02,NaN,OYYG ZUQ,NaN,NURFXMYLB,NURFXMYLB,GBLM,NB09 6VZ,218.5,A
2,1002,2018-01-01,D,N,F,32,NaN,XYNBKX CUKG UPBLWB,NaN,NUEPBKL,NUEPBKL OREEX,ZYKSBXMBKXORKB,ZK01 0XF,250.0,A
3,1003,2018-01-01,O,N,F,0,NaN,OUMOUZUQ SEYXB,NaN,EBRSBXMBK,EBRSBXMBK,EBRSBXMBK,EB1 3HI,6050.0,B
4,1004,2018-01-01,T,N,F,14,NaN,MBNBKURKB KYUF,NaN,CEQNYWMO,SRMQ YV CEQNYWMO,SRMQ YV CEQNYWMO,CE4 6WU,182.0,A

In [14]:
test.head()

,TID,Date,Property Type,OldvNew,Duration,AddressLine1,AddressLine2,Street,Locality,Town,Taluka,District,Postcode,Price Category
0,1226697,2019-04-01,F,N,L,UXCEBQ SYWKM,56,ZYHWKL KYUF,ZYHWKL XULFX,NREMYL GBQLBX,SBLMKUE HBFVYKFXORKB,SBLMKUE HBFVYKFXORKB,NG09 2CU,A
1,1226784,2019-04-01,S,N,F,XOYMVYKF,0,XBEXBQ KYUF,XRFEBXOUN,SORSOBXMBK,SORSOBXMBK,ZBXM XWXXBA,CY57 9KF,A
2,1226816,2019-04-01,F,N,L,"JKUSBZBEE SYWKM, 0457",UCUKMNBLM 56,XMKUMVYKF KYUF,OUEE JKBBL,HRKNRLJOUN,HRKNRLJOUN,ZBXM NRFEULFX,H52 8BM,A
3,1226838,2019-04-01,F,Y,L,MOB SOYSYEUMB DWUKMBK,51 KRPBK OYWXB,MKUTBSMWX ZUQ,GBQLXOUN,HKRXMYE,HUMO ULF LYKMO BUXM XYNBKXBM,HUMO ULF LYKMO BUXM XYNBKXBM,HX60 5JJ,A
4,1226845,2019-04-01,F,N,L,NUGBCBUSB NULXRYLX,VEUM 500,NUGBCBUSB UPBLWB,ORJOJUMB,EYLFYL,SUNFBL,JKBUMBK EYLFYL,L3 3BM,A

In [15]:
from sklearn.preprocessing import LabelEncoder

categorical=[]
for c in train.columns:
    if train[c].dtype == 'object':
        categorical.append(c)

for c in train.columns:
    if train[c].dtype == 'object':
        lbl = LabelEncoder() 
        lbl.fit(list(train[c].values) + list(test[c].values)) 
        train[c] = lbl.transform(list(train[c].values))
        test[c] = lbl.transform(list(test[c].values))

In [16]:
print('Shape train: {}\nShape test: {}'.format(train.shape, test.shape))

Shape train: (1219110, 15)
Shape test: (2066, 14)

In [17]:
train = train.drop(["TID"], axis=1)
test = test.drop(["TID"], axis=1)

In [ ]:
y = train["Price"]

In [ ]:
import numpy as np
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=50, n_jobs=-1)

model.fit(train.drop(["Price"], axis=1), np.log(y))
pred = model.predict(test)
pred = np.exp(pred)
with open('your_file8.txt', 'w') as f:
    for item in pred:
        f.write("%s, " % item)

In [ ]:
model = RandomForestRegressor(n_estimators=100, n_jobs=-1)

model.fit(train.drop(["Price"], axis=1), np.log(y))
pred = model.predict(test)
pred = np.exp(pred)
with open('your_file9.txt', 'w') as f:
    for item in pred:
        f.write("%s, " % item)

In [ ]:
model = RandomForestRegressor(n_estimators=200, n_jobs=-1)

model.fit(train.drop(["Price"], axis=1), np.log(y))
pred = model.predict(test)
pred = np.exp(pred)
with open('your_file10.txt', 'w') as f:
    for item in pred:
        f.write("%s, " % item)

In [ ]:
model = RandomForestRegressor(n_estimators=500, n_jobs=-1)

model.fit(train.drop(["Price"], axis=1), np.log(y))
pred = model.predict(test)
pred = np.exp(pred)
with open('your_file11.txt', 'w') as f:
    for item in pred:
        f.write("%s, " % item)